:root {
    --about-us-1-brightness: 90%;
    --about-us-2-brightness: 90%;
    --about-us-3-brightness: 90%;
    --about-us-4-brightness: 100%;
}

.normal-bar{
    height: 5px !important; 
    background-color: black; 
    opacity: 1;
}

/* Header Start  */

/* Header End  */

/* Producers Start  */
    .bg-producer-float{
        position: absolute;
        top: 5vh;
        left: 5vh;
        width: 90%;
        height: 90%; 
        z-index: -1;
    }    
    
    .producer-image-div{
        top: 2.5vh;
    }

    .producer-content-div{
        top: 5vh;
    }

    @media only screen and (max-width: 720px) {
        .producer-image-div{
            top: 0;
        }
    
        .producer-content-div{
            top: 0;
        }
    }
/* Producers End  */

/* About Us Start */
    .about-us-content{
        min-height: 50vh; 
        max-height: auto !important;
    }
    #about_Us_1{
        position: absolute;
        top: 5%;
        left: 5%;
        width: 5%; 
        height: 90%; 
        transition: all 0.3s;
        cursor: pointer;
        overflow: hidden;
    }

    #about_Us_1:hover{
        filter: brightness(var(--about-us-1-brightness));
    }

    #about_Us_1 > *{
        visibility: hidden;
    }

    #about_Us_2{
        position: absolute; 
        top: 5%; 
        left: 10%; 
        width: 5%; 
        height: 90%;
        transition: all 0.3s;
        cursor: pointer;
        overflow: hidden;
    }

    #about_Us_2:hover{
        filter: brightness(var(--about-us-2-brightness));
    }

    #about_Us_2 > *{
        visibility: hidden;
    }

    #about_Us_3{
        position: absolute; 
        top: 5%; 
        left: 15%; 
        width: 80%; 
        height: 90%;
        transition: all 0.3s;
        cursor: pointer;
        overflow: hidden;
    }

    #about_Us_3:hover{
        filter: brightness(var(--about-us-3-brightness));
    }
    
    @media only screen and (max-width: 720px) {

        #about_Us_1{
            top: 5%;
            left: 5%;
            width: 90%; 
            height: 5%;     
            overflow-y: scroll;
        }
    
        #about_Us_2{
            top: 10%; 
            left: 5%; 
            width: 90%; 
            height: 5%;            
            overflow-y: scroll;
        }
    
        #about_Us_3{
            top: 15%; 
            left: 5%; 
            width: 90%; 
            height: 75%;                        
            overflow-y: scroll;
        }
    }

    /* About Us End */
    #txt_Carrosel_Professores,
    #txt_Carrosel_Alunos{
        cursor: pointer;
    }

    #txt_Carrosel_Professores > h5,
    #txt_Carrosel_Alunos > h5{
        transition: all 0.5s ;
    }

    #txt_Carrosel_Professores:hover > h5,
    #txt_Carrosel_Alunos:hover > h5{
        color: #6c8212 !important;
    }
    #txt_Carrosel_Professores > hr,
    #txt_Carrosel_Alunos > hr{
        transition: all 0.5s ;
        max-width: 100px;
    }
    #txt_Carrosel_Professores:hover > hr,
    #txt_Carrosel_Alunos:hover > hr{
        background-color: #6c8212 !important;
    }

    #carrosel_Prof,
    #carrosel_Alunos{
        overflow:hidden;
        flex-wrap: nowrap;
    }

/* Team Start  */

/* Team End  */

/* Contact Start */

/* Contact End */



/* Footer Start */

/* Footer End  */